.Container {
  cursor: pointer;
  border-radius: 50%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  background-color: #08aeea;

  background-image: linear-gradient(50deg, #08aeea 0%, #1ef393 100%);

  .Loading {
    padding: 0em 0.3em;
    position: relative;
  }
  .Mic {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffff;
    padding: 1.3em 1.4em;
    border-radius: 50%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    background-color: #08aeea;
    background-image: linear-gradient(50deg, #08aeea 0%, #1ef393 100%);
    > svg {
      transform: scale(2);
    }
  }
}
